{% extends '::base.html.twig' %}
{% block body %}

{% trans_default_domain 'FOSUserBundle' %}



{% include 'header.html.twig' %}

<section>

  {% include 'aside.html.twig' %}

  <div class="container">
    <section class="contenue--profile">
      <article class="show--profile">
        <h3 class="title--profile">Modifier votre Profil</h3>
        {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'form' } }) }}
            <div class="picture">
                {{ form_errors(form.picture) }}
                {{ form_widget(form.picture) }}
                <span>Changer votre photo de profile</span>
            </div>

            <div class="champ">
              {{form_label(form.username)}}
              {{ form_errors(form.username) }}
              {{ form_widget(form.username) }}
            </div>
            <div class="champ">
              {{form_label(form.firstname)}}
              {{ form_errors(form.firstname) }}
              {{ form_widget(form.firstname) }}
            </div>
            <div class="champ">
              {{form_label(form.email)}}
              {{ form_errors(form.email) }}
              {{ form_widget(form.email) }}
            </div>
            <div class="champ">
              {{form_label(form.tel)}}
              {{ form_errors(form.tel) }}
              {{ form_widget(form.tel) }}
            </div>
            <div class="champ">
              {{form_label(form.adresse)}}
              {{ form_errors(form.adresse) }}
              {{ form_widget(form.adresse) }}
            </div>
            <div class="champ">
              {{form_label(form.cp)}}
              {{ form_errors(form.cp) }}
              {{ form_widget(form.cp) }}
            </div>
            <div class="champ">
              {{form_label(form.town)}}
              {{ form_errors(form.town) }}
              {{ form_widget(form.town) }}
            </div>
            <div class="champ">
              {{form_label(form.country)}}
              {{ form_errors(form.country) }}
              {{ form_widget(form.country) }}
            </div>
            <div class="champ">
              {{form_label(form.birthday)}}
              {{ form_errors(form.birthday) }}
              {{ form_widget(form.birthday) }}
            </div>
            <div class="btn_submit">
              <input class="btn_modification" type="submit" value="{{ 'profile.edit.submit'|trans }}" />
            </div>
          {{ form_end(form) }}
      </article>
    </section>

  </div>

</section>





{% endblock %}
