{% extends '::base.html.twig' %}
{% block body %}
{% trans_default_domain 'FOSUserBundle' %}


  <header class=" container header">
    <section class="header--user">
      <a href="{{path('fos_user_security_logout')}}" class="disconect--user"><i class="material-icons">power_settings_new</i></a>
      <p class="text--user">{{ user.username }}</p>
      <p class="text--user">{{ user.firstname}}</p>
      <div class="img--user">
        <img src="{{ asset('bundles/images/img.jpg') }}" alt="img-profil">
      </div>
    </section>
  </header>

  <section>
    <aside class="aside-left">
      <div class="header-aside">
          <h1 class="title"><img src="{{asset('bundles/images/logo.png')}}" alt="image_logo" class="logo"><a href="{{ path('index') }}">Workplace</a></h1>
      </div>
      <article class="sidebar">
          <nav class="menu_aside">
              <ul>
                  <li><a class="active" href="{{path('fos_user_profile_show')}}"><i class="material-icons">face</i>Profil</a></li>
                  <li><a href="#!"><i class="material-icons">group</i>Clients</a></li>
                  <li><a href="#!"><i class="material-icons">folder</i>Projets</a></li>
                  <li><a href="#!"><i class="material-icons">insert_drive_file</i>Factures et devis</a></li>
                  <li><a href="#!"><i class="material-icons">pie_chart</i>Graphique</a></li>
              </ul>
          </nav>
      </article>
    </aside>
    <div class="container">
      <section class="contenue--profile">
        <article class="show--profile">
            <h3 class="title--profile">Votre Profil</h3>
            <div class="content__text">
              <p class="text--profile">{{ 'profile.show.username'|trans }} : <span>{{ user.username }}</span></p>
              <p class="text--profile">Prénom : <span>{{ user.firstname}}</span></p>
              <p class="text--profile">{{ 'profile.show.email'|trans }} : <span>{{ user.email }}</span></p>
              <p class="text--profile">Date de naissance : <span>{{ user.birthday}}</span></p>
              <p class="text--profile">Numéro de téléphone : <span>{{ user.tel}}</span></p>
              <p class="text--profile">Adresse : <span>{{ user.adresse}}</span></p>
              <p class="text--profile">Ville : <span>{{ user.town}}</span></p>
              <p class="text--profile">Code postale : <span>{{ user.cp}}</span></p>
              <p class="text--profile">Pays : <span>{{ user.country}}</span></p>
            </div>
            <div class="content__btn">
              <a class="btn_modification" href="{{path('fos_user_profile_edit')}}">Modifier votre profil</a>
              <a class="btn_modification" href="{{path('fos_user_change_password')}}">Modifier votre Mot de passe</a>
            </div>

        </article>

        <article class="show--project">
          <h3 class="title--project">Vos derniers projets</h3>
          <p class="text--project">{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
          <p class="text--project">{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
        </article>
      </section>
    </div>
  </section>



{% endblock %}
