{% extends 'base.html.twig' %}

{% block body %}
    {% trans_default_domain 'FOSUserBundle' %}

    {% include 'header.html.twig' %}
    <section>
        {% include 'aside.html.twig' %}
        <div class="container">
            <section class="contenue--client">
                <article class="show--client">
                    <h3 class="title--client">Modification des projets</h3>

                    {{ form_start(edit_form, {'attr': {'class': 'form--client'}}) }}
                    {{ form_widget(edit_form, {'attr': {'class': 'champ--client'}}) }}
                    <br>
                    <input class="btn__edit" type="submit" value="Modifier" />
                    {{ form_end(edit_form) }}

                    <ul>
                        <li>
                            <a class="btn_modification" href="{{ path('projet_index') }}">Retour au projet</a>
                        </li>
                        <li>
                            {{ form_start(delete_form) }}
                            <input class="btn__supp" type="submit" value="Supprimer">
                            {{ form_end(delete_form) }}
                        </li>
                    </ul>
                </article>
            </section>
        </div>
    </section>

{% endblock %}
