{% extends 'base.html.twig' %}

{% block body %}
{% trans_default_domain 'FOSUserBundle' %}
{% include 'header.html.twig' %}

<section>
  {% include 'aside.html.twig' %}
  <div class="container">
    <section class="contenue--client">
      <article class="show--client">
        <h3 class="title--client">Mes clients</h3>

        <table>
            <tbody>
            {% for client in clients %}
                <tr>
                    <td class="text--client"><i class="material-icons">person</i>{{ client.nom }} {{ client.prenom }}</td>
                    <td class="text--client"><i class="material-icons">check_box_outline_blank</i>Projets à faire {{ client.startProjects|length }}</td>
                    <td class="text--client"><i class="material-icons">indeterminate_check_box</i>Projets en cour {{ client.ongoingProjects|length }}</td>
                    <td class="text--client"><i class="material-icons">check_box</i>Projets terminé {{ client.finishedProjects|length }}</td>
                    <td>
                        <ul>
                            <li>
                                <a class="btn__supp" href="{{path('clients_show', { 'id': client.id }) }}">Consulter la fiche</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <ul>
            <li>
                <a class="btn_modification" href="{{ path('clients_new') }}">Ajouter un client</a>
            </li>
        </ul>
      </article>
    </section>

  </div>
</section>

{% endblock %}
