{% extends 'base.html.twig' %}

{% block body %}
{% trans_default_domain 'FOSUserBundle' %}
{% include 'header.html.twig' %}

<section>
  {% include 'aside.html.twig' %}
  <div class="container">
    <section class="contenue--client">
      <article class="show--client">
        <h3 class="title--client"><i class="material-icons">person</i> {{ client.nom }} {{ client.prenom }}</h3>
        <table>
            <tbody>
                <tr>
                    <td class="text--client"><i class="material-icons">email</i> {{ client.mail }}</td>
                    <td class="text--client"><i class="material-icons">location_on</i> {{ client.adresse }}</td>
                    <td class="text--client"><i class="material-icons">location_on</i> {{ client.ville }}</td>
                    <td class="text--client"><i class="material-icons">location_on</i> {{ client.codePostal }}</td>
                    <td class="text--client"><i class="material-icons">phone</i> {{ client.tel }}</td>
                </tr>
            </tbody>
        </table>
        <ul>
            <li>
                <a class="btn__edit" href="{{ path('clients_edit', { 'id': client.id }) }}">Modifier</a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                    <input class="btn__supp" type="submit" value="Supprimer">
                {{ form_end(delete_form) }}
            </li>
        </ul>
      </article>
      <article class="show--startprojet">
        <h3>Projet à faire</h3>
        <table>
          <tbody>
            <tr>
              <td>{{client.nom}} {{client.prenom}}</td>
            </tr>
          </tbody>
        </table>
      </article>
    </section>
  </div>
</section>

{% endblock %}
